.Details {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.Details p {
  text-align: center;
}

.Details li {
  display: flex;
  justify-content: space-between;
}

.Details h2 {
  margin-top: 10px;
  text-align: center;
}

.Details h4 {
  text-align: center;
}

.favorite-and-share {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.favorite-and-share button {
  display: flex;
  background-color: white;
  border: none;
}

.ingredient-list {
  display: flex;
  align-self: center;
}

.ingredient-list ul {
  list-style: square;
}

.recomend-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recomend-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-basis: 45%;
}

.recomend-card img {
  border-radius: 15px;
}

.recomend-card h4 {
  margin: 10px 0 70px 0;
}

.main-image {
  height: 300px;
  width: 100%;
  border-radius: 3px;
}

.start-recipe {
  margin-top: 200px;
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 360px;
}
