.main-content {
  display: flex;
  flex-direction: column;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
