.RecipeCards {
  background-color: #ffd0fd;
  border-bottom: 4px solid rgb(243, 148, 164);
  border-left: none;
  border-radius: 15px;
  border-right: 4px solid rgb(243, 148, 164);
  border-top: none;
  color: black;
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin-bottom: 8px;
}

.container {
  display: flex;
  flex-direction: column;
}

.RecipeCards img {
  align-self: center;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 115px;
}

.RecipeCards h2 {
  font-size: 18px;
  margin-top: 4px;
  text-align: center;
}
